{% extends 'flashcard/root_template.html' %}
{% load staticfiles %}

{% block body %}
    <div class="col-lg-2">
      <input id="flipPrev" class="btn btn-default btn-md" onclick="prevFlip()" value="Prev">
    </div>
    <div class="col-lg-offset-1 col-lg-6">
        <div id="card">
          <div class="front">
              <span id="front-content"></span>
          </div>
          <div class="back">
              <span id="back-content"></span>
          </div>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-2">
      <input id="flipNext" class="btn btn-default btn-md" onclick="nextFlip()" value="Next">
    </div>
    <script>
        window.onload=function() { playFlip({{ cards|safe }}); }

        $(function($) {
          $("#card").flip();
        });
    </script>
{% endblock %}
