{% extends 'flashcard/root_template.html' %}
{% load staticfiles %}

{% block body %}

    <div class="container row" style="height: auto;">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 card-container">
            <div id="left-card">
              <div class="front text-center" onclick="prevFlip()">
                  prev
              </div>
            </div>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 card-container">
            <div id="card" style="position: relative;">
              <div class="front text-center">
                <span id="front-content"></span>
              </div>
              <div class="back text-center">
                <span id="back-content"></span>
              </div>
                <div class="click-to-flip" style="position: absolute; top: 75%;">
                    sup
                </div>
            </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 card-container">
            <div id="right-card">
              <div class="front text-center" onclick="nextFlip()">
                  next
              </div>
            </div>
        </div>

    </div>
    <script>
        window.onload=function() { playFlip({{ cards|safe }}); }

        $(function($) {
          $("#card").flip();
        });
    </script>
{% endblock %}
