{%  extends 'flashcard/root_template.html' %}
{% load flashcard_extras %}

{% block body %}
    <div class="container-fluid">
         {% for set in all_sets %}
            <div class="col-sm-12 col-md-6 col-lg-3 card" onclick="location.href='/flashcard/{{ set.id }}/flip';">
                <div>
                  <div class="first front text-center" style="background-color: #{{ set.color }};">
                      <a id="front-content">{{ set.name }}</a>
                  </div>

                  <div class="second front text-center" style="background-color: #{{ set.color }};">
                      <a id="front-content">{{ set.name }}</a>
                  </div>

                  <div class="third front text-center" style="background-color: #{{ set.color }};">
                      <a id="front-content">{{ set.name }}</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
