{%  extends 'flashcard/root_template.html' %}
{% load flashcard_extras %}

{% block body %}
    <table id="sets-list">
        <thead id="card-cols">
            <th>Your Sets</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for set in all_sets %}
                 <tr class="set-item">
                    <td class="set-data set-title"><a onclick="location.href='/flashcard/{{ set.id }}';">{{ set.name }}</a></td>
                    <td class="set-data set-length"><span> {{ set_lens|at:forloop.counter0 }} cards</span></td>
                    <td class="set-data delete-set-btn">x</td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
