{%  extends 'flash_card/root_template.html' %}

{% block body %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'flash_card:save' set_id create %}" method="post">
        {% csrf_token %}
        <div id="set-title">
            <span>{{ title_form }}</span>
        </div>
        <table id="set-formset" class="table">
                <thead id="card-cols">
                    <th></th>
                    <th>Terms</th>
                    <th>Definitions</th>
                    <th></th>
                </thead>
                <tbody>
                    {% with formset|length as formset_length %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <tr id="card-{{ forloop.counter0 }}" class="card">
                                <td class="counter">{{ forloop.counter0 }}</td>
                                <td class="card-front">{{ form.front }}</td>
                                <td class="card-back">{{ form.back }}</td>
                                <td class="delete-card-btn">x</td>
                            </tr>
                            {% if forloop.counter == formset_length %}
                                <script>window.onload=function() { setCardCounter({{ formloop.counter0 }}); }</script>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </tbody>
            </table>
            <script>window.onload=function() { setEmptyCard({{ empty_card_index}}); }</script>
        </table>
    <a id="newCard-btn" class="btn btn-default btn-md" onclick="newCard()">Add Card</a>
    <input class="btn btn-default btn-md" style="float: right" type="submit" value="Done"/>
    </form>
{% endblock %}

