#navbar-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

#learn-btn {
    width: 15%;
}

.counter {

}

#set-title {

}

#id_name {
    width: 70%;
    font-size: 28px;
}

.list-flashcard {
    background: black;
    color: white;
}

.list-flashcard:nth-child(odd) {
    background: white;
    color: black;
}

#top-nav {
    margin-bottom: 0px;
    background-color: white;
    border-radius: 0px;
}

#empty_card {
    display: none;
}

.row.card {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#set-unordered-list {
    list-style-type: none;
}

.set-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: black;
}

/*#set-list {*/
    /*display: block;*/
/*}*/

/*#set-form {*/
    /*display: none;*/
/*}*/