.list-flashcard {
    background: black;
    color: white;
}

.list-flashcard:nth-child(odd) {
    background: white;
    color: black;
}

#top-nav {
    margin-bottom: 0px;
    background-color: black;
    border-radius: 0px;
}

#empty_row {
    display: none;
}

/*#set-list {*/
    /*display: block;*/
/*}*/

/*#set-form {*/
    /*display: none;*/
/*}*/