#flipNext {
}
.card {
    margin-bottom: 3.5%;

}
.front {
    padding: 25%;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
}

.back {
    padding: 25%;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
}

.click-to-flip {
}

.btn.btn-nav {
    width: 100%;
    border: none;
    border-radius: 0;
    border-right-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}

.btn.btn-nav:first-of-type{
    border-left-style: solid;
}

.navbar.navbar-default{
}

#flip-btn {
    float: right;
    margin-right: 5%;
}

#learn-btn {
    float: right;
}

.set-data {
    width: 50%;
    padding-top: 2.5%;
    margin: auto;
    vertical-align: bottom;
}

.set-data.set-title {
    font-size: 22px;
}

.set-data.set-length {
    color: #5e5e5e;
}

#id_name {
    width: 70%;
    font-size: 28px;
}

.list-flashcard {
    background: black;
    color: white;
}

.list-flashcard:nth-child(odd) {
    background: white;
    color: black;
}

#top-nav {
    margin-bottom: 0px;
    background-color: white;
    border-radius: 0px;
}

#empty_card {
    display: none;
}

.row.card {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#set-unordered-list {
    list-style-type: none;
}

.set-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: black;
}

.btn {
    width: 10%;
}
